

.layout {
	width: 800px;
	margin: 0 auto;
}
ul,li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.item {
	float: left;
	width: 260px;
	margin-left: 10px;
	margin-top: 20px;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)!important;
}

.item img {
	width: 100%;
	opacity: 0.77;
}
.layout >ul {
	margin-left: -10px;
}
h1 {
	text-align: center;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
}
.ct {
	padding: 10px;
	margin-bottom: 10px;
}
ul:after {
    content: '';
    display: block;
    clear: both;
}

